/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo Paaji 2", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.intro {
    padding: 2rem 0;
    text-align: center;
}

.intro h2 {
    margin-bottom: 1rem;
}

.intro p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

/* Centered GIF Styles */
.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem 0;
}

.centered-gif {
    max-width: 100%;
    max-height: 100%;
}

.blue-link {
    color: blue;
  }  

/* Footer */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
